<launch>
   <node pkg="nodelet" type="nodelet" name="standalone_nodelet" args="manager" output="screen"/>

   <arg name="image_topic" default="/camera/depth/image_raw" />
   <arg name="info_topic" default="/camera/depth/camera_info" />

  <node pkg="nodelet" type="nodelet" name="standalone" args="load image_proc/rectify nodelet_manager">
    <remap from="image_mono" to="$(arg image_topic)"/>
    <remap from="camera_info" to="$(arg info_topic)"/>
  </node>
 
  <node pkg="rostopic" type="rostopic" name="arbitrary_name" args="pub /camera/depth/camera_info sensor_msgs/CameraInfo -f /catkin_ws/src/e2e-handover/camera_data/top_depth.yaml" output="screen"/>
</launch>