<?xml version="1.0"?>
<launch>
    <!-- <node name="position" pkg="e2e_handover" type="position" output="screen" /> -->
    <include file="$(find ur_robot_driver)/launch/ur5_bringup.launch" pass_all_args="true">
        <arg name="robot_ip" value="10.0.0.2"/>
    </include>
    <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch" />
    <!-- <node name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
        args="-d $(find e2e_handover)/launch/e2e_handover.rviz" /> -->
</launch>